body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}
nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* width specified in media queries is the width of the viewport */

/* @media (min-width: 600px) and (max-width: 900px) {
  h1 {
    color: purple;
  }
} */

@media (max-width: 1000px) {
  h1 {
    color: orange;
  }
}

/* media queries like all CSS will be done in sequence on the style sheet... or you can use and to combine size specs */
@media (max-width: 500px) {
  h1 {
    color: red;
  }
}
/* 
@media (orientation: landscape) {
  body {
    background-color: magenta;
  }
} */

nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
  /* flex-direction: column; */
}

ul {
  /* border: 1px solid red; */
  flex: 1;
  max-width: 50%;
  display: flex;
  /* you can nest flexboxes */
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  h1 {
    font-size: 4em;
  }
  nav,
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 2em;
  }
}
